<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hack the Planet! mini</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css" />

    <!-- Import the favicon -->
    <link rel="icon" type="image/png" href="/static/png/favicon.png" />

    <!-- Import JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Imports JS to display time -->
    <script src="/static/js/display-time.js" defer></script>

    <!-- Imports JS to update the page -->
    <script src="/static/js/update.js" defer></script>

</head>

<body>

    <div class="page-header">

        <span>Hack the Planet! mini // Team <span id="team-name">{{ current_user.username }}</span> <a href="/logout" id="logout">(Logout)</a></span>

        <span class="current-time">LOADING TIME...</span>

    </div>

    <div class="box-grid">

        <div class="column-1">

            <div class="sub-header"><h2>EVENT</h2></div>

            <div class="box-contents">

                <p>HTP!m is an interactive computer hacking event hosted at HackMerced’s Local Learn Day 2023. Teams of 4+ will engage in guided, real-life computer hacking exercises in a safe and controlled environment.</p>
            
            </div>

            <div class="sub-header"><h2>PRIMARY DISPLAY</h2></div>

            <div class="primary-display">

                <div class="column-3">

                    <div class="box-contents">

                        <!-- To modify status, change innerHTML and switch CSS class -->
                        <!-- start/complete (active and resume unused) -->
                        <div class="target-name">TARGET: Smart House</div>
                        <div id="target-1-status" class="target-start">Incomplete</div>

                        <div class="target-name">TARGET: Railroad</div>
                        <div id="target-2-status" class="target-start">Incomplete</div>

                        <div class="target-name">TARGET: Power Grid</div>
                        <div id="target-3-status" class="target-start">Incomplete</div>

                    </div>

                </div>

                <div class="column-4">

                    <div id="target-1-contents" class="box-contents">

                        <h1>TARGET: Smart House</h1>
                        <ol>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ol>

                    </div>

                    <div id="target-2-contents" class="box-contents" hidden>

                        <h1>TARGET: Railroad</h1>
                        <ol>
                            <li>Consectetur adipiscing elit.</li>
                        </ol>

                    </div>

                    <div id="target-3-contents" class="box-contents" hidden>

                        <h1>TARGET: Power Grid</h1>
                        <ol>
                            <li>Sed feugiat leo vel elit efficitur?</li>
                        </ol>

                    </div>

                </div>

            </div>

        </div>

        <div class="column-2">

            <div class="sub-header"><h2>INFO</h2></div>

            <div class="box-contents">

                <p>Team {{ current_user.username }}</p>

                <ul id="team-member-list">

                    {% for player in players %}
                        <li>{{ player }}</li>
                    {% endfor %}

                </ul>
            </div>

            <div class="sub-header"><h2>LOGS</h2></div>
            
            <div class="box-contents">
                <div id="logs"></div>
            </div>
            
        </div>

    </div>

</body>

</html>
