<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hack the Planet! mini</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- Import JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Imports JS to display time -->
    <script src="../static/js/display-time.js" defer></script>

</head>

<body>

    <div class="page-header">

        <span>Hack the Planet! mini // Team Foobarbers</span>
        <span class="current-time">LOADING TIME...</span>

    </div>

    <div class="box-grid">

        <div class="column-1">

            <div class="sub-header"><h2>EVENT</h2></div>
            <p>HTP!m is an interactive computer hacking event hosted at HackMerced’s Local Learn Day 2023. Teams of 4+ will engage in guided, real-life computer hacking exercises in a safe and controlled environment.</p>
        
        </div>

        <div class="column-2">

            <div class="sub-header"><h2>INFO</h2></div>

            <p>Team Foobarbers</p>
            <ul id="team-member-list">

                <!-- Temporary placeholder names; replace with data-->
                <li>John Doe</li>
                <li>Jane Doe</li>
                <li>Billy Bob</li>
                <li>Joe Biden</li>

            </ul>

            <div class="sub-header"><h2>LOGS</h2></div>
            <!-- Temporary logs; replace with data -->
            <p>13:10<br>Team Bread has hacked the railroad.</p><br>
            <p>13:01<br>Team Foobarbers has hacked the satellite.</p><br>
            
        </div>

    </div>

</body>

</html>