<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hack the Planet! mini</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- Import JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Imports JS to display time -->
    <script src="../static/js/display-time.js" defer></script>

</head>

<body>

    <div class="page-header">
        <span>Hack the Planet! mini // Team Foobarbers</span>
        <span id="login-time">LOADING TIME...</span>
    </div>

    <div>EVENT</div>

</body>

</html>