<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hack the Planet! mini</title>

    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- Import JS file for text animation -->
    <script src="../static/js/splash-anim.js" defer></script>

</head>

<body onload="typeWriter()">
    <div id="splash-text">This is the starter text: </div>

    <div class="button" id="proceed-button">PROCEED TO HTPM23</div>
</body>

</html>